.one{
    text-align: center;
    margin: 20px;
    border: 20px;
    background-image: url(img/hand-painted-watercolor-pastel-sky-background_23-2148902771.avif);
    height: 500px;
    width: 500px;
    border:2px solid black ;

}

